scripts/n8n-workflows/ucp-content-generator.json
{
  "name": "UCP Content Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://178.128.118.54:5000/api/n8n/projects/171/tasks",
        "options": {}
      },
      "id": "get-tasks",
      "name": "Get UCP Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "id": "split-tasks",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "not_started"
            }
          ]
        }
      },
      "id": "filter-not-started",
      "name": "Filter Not Started",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://178.128.118.54:5000/api/tasks/{{ $json.id }}/ai-generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"outputType\": \"full\",\n  \"saveToTask\": true\n}",
        "options": {}
      },
      "id": "generate-content",
      "name": "Generate AI Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "wait",
        "resume": "timeInterval",
        "interval": 5
      },
      "id": "wait",
      "name": "Wait 5s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get UCP Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UCP Tasks": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Filter Not Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Not Started": {
      "main": [
        [
          {
            "node": "Generate AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Content": {
      "main": [
        [
          {
            "node": "Wait 5s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["UCP", "Content Generation", "Automation"]
}
